# Build the mod
name: Build

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

concurrency:
  group: build-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    permissions:
      contents: read

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6

      - name: Setup Build
        uses: ./.github/actions/build_setup

      - name: Build Project
        run: ./gradlew --info --stacktrace build

      - name: Upload Jars
        uses: actions/upload-artifact@v7
        with:
          name: AdvancedBackups-Patch
          path: build/libs/*.jar
          retention-days: 31
